<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdd.risk.modular.system.dao.ApproveItemMapper" >
  <resultMap id="BaseResultMap" type="com.zdd.risk.common.persistence.model.ApproveItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="people" property="people" jdbcType="VARCHAR" />
    <result column="old_status" property="oldStatus" jdbcType="INTEGER" />
    <result column="new_status" property="newStatus" jdbcType="INTEGER" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cid, people, old_status, new_status, explain, creattime, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zdd.risk.common.persistence.model.ApproveItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from approve_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from approve_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from approve_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zdd.risk.common.persistence.model.ApproveItemExample" >
    delete from approve_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zdd.risk.common.persistence.model.ApproveItem" >
    insert into approve_item (id, cid, people, 
      old_status, new_status, explain, 
      creattime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{people,jdbcType=VARCHAR}, 
      #{oldStatus,jdbcType=INTEGER}, #{newStatus,jdbcType=INTEGER}, #{explain,jdbcType=VARCHAR}, 
      #{creattime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdd.risk.common.persistence.model.ApproveItem" >
    insert into approve_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="people != null" >
        people,
      </if>
      <if test="oldStatus != null" >
        old_status,
      </if>
      <if test="newStatus != null" >
        new_status,
      </if>
      <if test="explain != null" >
        explain,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="people != null" >
        #{people,jdbcType=VARCHAR},
      </if>
      <if test="oldStatus != null" >
        #{oldStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null" >
        #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zdd.risk.common.persistence.model.ApproveItemExample" resultType="java.lang.Integer" >
    select count(*) from approve_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update approve_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.people != null" >
        people = #{record.people,jdbcType=VARCHAR},
      </if>
      <if test="record.oldStatus != null" >
        old_status = #{record.oldStatus,jdbcType=INTEGER},
      </if>
      <if test="record.newStatus != null" >
        new_status = #{record.newStatus,jdbcType=INTEGER},
      </if>
      <if test="record.explain != null" >
        explain = #{record.explain,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        creattime = #{record.creattime,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update approve_item
    set id = #{record.id,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      people = #{record.people,jdbcType=VARCHAR},
      old_status = #{record.oldStatus,jdbcType=INTEGER},
      new_status = #{record.newStatus,jdbcType=INTEGER},
      explain = #{record.explain,jdbcType=VARCHAR},
      creattime = #{record.creattime,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdd.risk.common.persistence.model.ApproveItem" >
    update approve_item
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="people != null" >
        people = #{people,jdbcType=VARCHAR},
      </if>
      <if test="oldStatus != null" >
        old_status = #{oldStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null" >
        new_status = #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdd.risk.common.persistence.model.ApproveItem" >
    update approve_item
    set cid = #{cid,jdbcType=INTEGER},
      people = #{people,jdbcType=VARCHAR},
      old_status = #{oldStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      explain = #{explain,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>