@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>进件审核管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="RiskApprove.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="RiskApproveTableToolbar" role="group">
                            @if(shiro.hasPermission("/riskApprove/add")){
                                <#button name="添加" icon="fa-plus" clickFun="RiskApprove.openAddRiskApprove()"/>
                            @}
                            @if(shiro.hasPermission("/riskApprove/update")){
                                <#button name="修改" icon="fa-plus" clickFun="RiskApprove.openRiskApproveDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/riskApprove/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="RiskApprove.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="RiskApproveTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/riskApprove/riskApprove.js"></script>
@}
